﻿﻿@using PHP.Sales.Web.ViewModels
﻿﻿@using PHP.Sales.Core.Models.System
@model TransactionRowViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h2>Create</h2>

<div class="edit-transaction">
    <div class="edit-transaction__form">
        @using (Html.BeginForm())
        {
            <b>@Html.DisplayNameFor(model => model.Payment): </b>
            @Html.EnumDropDownListFor(model => model.Payment)
            <div class="form-group" id="editorRows">
                <!-- LIST OUT SALES CONTENTS -->
                
                <div class="form-header">
                    <div>
                        Product
                    </div>
                    <div>
                        Quantity
                    </div>
                    <div>
                        Price
                    </div>
                    <div>
                        GST
                    </div>
                </div>
                @if (Model != null)
                {
                    for (i = 0; i < Model.SalesList.Count; i++)
                    {
                        @Html.Partial("_SalesRowEditor", Model.SalesList.ElementAt(i), new ViewDataDictionary { { "num", i } });
                    }
                }
                else
                {
                    @Html.Partial("_SalesRowEditor", new Sale(), new ViewDataDictionary { { "num", i } })
                }
            </div>
            @Html.ActionLink("Add another...", "_SalesRowEditor", new Sale(), new { id = "addItem" })
            <input type="submit" value="Submit" />
        }
    </div>
</div>

<script>
$("#addItem").click(function () {
    $.ajax({
        url: this.href,
        cache: false,
        success: function (html) {
            $("#editorRows").append(html);

            $("a.deleteRow").on("click", function () {
                $(this).parents("div.editorRow:first").remove();
                return false;
            });}
    });
    return false;
});

$("a.deleteRow").on("click", function () {
    $(this).parents("div.editorRow:first").remove();
    return false;
});
</script>