﻿﻿@using PHP.Sales.Web.ViewModels

@model TransactionRowViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="edit-transaction">
    <div class="edit-transaction__form">
        @using (Html.BeginForm()) {
            @Html.HiddenFor(x => x.TransactionId)

            <div class="form-group">
                <!-- LIST OUT SALES CONTENTS -->

                <table>
                    <tbody>
                        <tr>
                            <th>
                                Product ID
                            </th>
                            <!--<th>
                                Name
                            </th>-->
                            <th>
                               QTY
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                GST
                            </th>
                        </tr>

                        @for (int i = 0; i < Model.SalesList.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(m => m.SalesList[i].ID)
                                    @*Html.TextBoxFor(m => m.SalesList[i].ProductID)*@

                                    @Html.Action("AddProduct", new { selected = Model.SalesList[i].ProductID, row = i })
                                </td>                      
                                <!--<td>                       
                                    @*Html.TextBoxFor(m => m.SalesList[i].Name)*@
                                </td>-->                      
                                <td>                       
                                    @Html.TextBoxFor(m => m.SalesList[i].QTY)
                                </td>                      
                                <td>                       
                                    @Html.TextBoxFor(m => m.SalesList[i].Price)
                                </td>                      
                                <td>                       
                                    @Html.CheckBoxFor(m => m.SalesList[i].GST)
                                </td>
                            </tr>
                        }

                    </tbody>
            </table>

            </div>
            <input type="submit" value="Submit"/>
        }
    </div>
</div>

