@using PHP.Sales.Core.Models.System
@model Transaction

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="edit-transaction">
    <div class="edit-transaction__form">
        @using(Html.BeginForm()) {
            @Html.HiddenFor(x => x.ID)

            <div class="form-group">
                <!-- LIST OUT SALES CONTENTS -->

                <table>
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => Model.Sales.First().ProductID);
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => Model.Sales.First().Name);
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => Model.Sales.First().QTY);
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => Model.Sales.First().Price);
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => Model.Sales.First().GST);
                        </th>
                    </tr>
                    @foreach (var sale in Model.Sales)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => sale.ProductID);
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => sale.Name);
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => sale.QTY);
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => sale.Price);
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => sale.GST);
                            </td>
                        </tr>
                    }
            </table>

            </div>
            <input type="submit" value="Submit"/>
        }
    </div>
</div>

