@using PHP.Sales.Core.Models.System
@model Transaction

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div class="edit-transaction">
    <div class="edit-transaction__form">
        @using(Html.BeginForm()) {
            @Html.HiddenFor(x => x.ID)

            <div class="form-group">
                <!-- LIST OUT SALES CONTENTS -->

                @foreach (var sale in Model.Sales)
                {
                    @Html.DisplayFor(modelItem => sale.Name);
                    @Html.DisplayFor(modelItem => sale.QTY);
                    @Html.DisplayFor(modelItem => sale.Price);
                    @Html.DisplayFor(modelItem => sale.GST);
                }

            </div>
            <input type="submit" value="Submit"/>
        }
    </div>
</div>

