﻿@using PHP.Sales.Web.ViewModels
@model TransactionRowViewModel

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal sale = 0m;
    decimal total = 0m;
}

<h2>Read</h2>

@Html.ActionLink("Back to Transactions", "Index", "Transaction", new { area = "" })

@using (Html.BeginForm("Return", "Transaction"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesList.First().ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesList.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesList.First().QTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesList.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesList.First().GST)
            </th>
            <th></th>
            <th>
                Item Total
            </th>
            <th>
                Return
            </th>
        </tr>

        @for (int i = 0; i < Model.SalesList.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => m.SalesList[i].ID)
                    @Html.DisplayFor(m => m.SalesList[i].ProductID)
                </td>
                <td>
                    @Html.DisplayFor(m => m.SalesList[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m.SalesList[i].QTY)
                </td>
                <td>
                    @Html.DisplayFor(m => m.SalesList[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(m => m.SalesList[i].GST)
                </td>
                <td></td>
                <td>
                    @if (Model.SalesList[i].GST == false)
                    {
                            @(sale = Math.Round(Model.SalesList[i].QTY * Model.SalesList[i].Price, 2))
                    } else
                    {
                            @(sale = Math.Round(Model.SalesList[i].QTY * (Model.SalesList[i].Price * (decimal)1.1), 2))
                    }
                    @{
                        total += sale;
                    }
                </td>
                <td>
                    @Html.CheckBoxFor(m => m.SalesList[i].Void)
                </td>
            </tr>

        }
        <tr>

            <td colspan="5"></td>
            <td><b>Total Price: </b></td>
            <td>
               @(total)
            </td>
            <td></td>
        </tr>

    </table>


    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId })
    <br />
    @*@Html.ActionLink("Return", "Create", new { sales = Model.ToList() })*@
    <input type="submit" value="Return Goods" />
}