@using PHP.Sales.Core.Models.System
@model Sale

<div class="form-row editorRow">
    <div>
        @Html.TextBoxFor(modelItem => Model.ProductID)
    </div>
    <div>
        @Html.TextBoxFor(modelItem => Model.Name)
    </div>
    <div>
        @Html.TextBoxFor(modelItem => Model.QTY)
    </div>
    <div>
        @Html.TextBoxFor(modelItem => Model.Price)
    </div>
    <div>
        @Html.CheckBoxFor(modelItem => Model.GST)
    </div>
    <a href="#" class="deleteRow">delete</a>
</div>