@using PHP.Sales.Core.Models.System
@{
    Layout = null;
    string value = this.ViewData["num"].ToString();
}

@model Sale

<div id="editorRows">
    <div>
        @Html.TextBox(String.Concat("SalesList[", value, "].ProductID"), Model.ProductID)
    </div>
    <div>
        @Html.TextBox(String.Concat("SalesList[", value, "].Name"), Model.Name)
    </div>
    <div>
        @Html.TextBox(String.Concat("SalesList[", value, "].QTY"), Model.QTY)
    </div>
    <div>
        @Html.TextBox(String.Concat("SalesList[", value, "].Price"), Model.Price)
    </div>
    <div>
        @Html.CheckBox(String.Concat("SalesList[", value, "].GST"), Model.GST)

        <a href="#" class="deleteRow">delete</a>
    </div>
</div>