@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions

@model PHP.Sales.Web.ViewModels.ChartViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //CREATE CHART
    var chart = new LineChart();
    //chart.ComplexData.Labels.AddRange(new[] { "January", "Feburary", "March", "", "", "", "" });
    chart.ComplexData.Labels.AddRange(Model.Data.Select(x => x.Key.Date.ToString("dd/MM/yyyy")).ToArray());
    chart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
    {
        new ComplexDataset
        {
            //Data = new List<double> {102, 60, 20, 17, 25, 78, 10},
            Data = Model.Data.Select(x => (double)x.Value.Stock).ToList(),
            Label = "Stock",
            StrokeColor = "rgba(255,0,0,0.8)",
            FillColor = "rgba(255,0,0,0.1)"
        },
        new ComplexDataset
        {
            //Data = new List<double> {62, 32, 10, 0, 10, 28, 10},
            Data = Model.Data.Select(x => (double)x.Value.Sale).ToList(),
            Label = "Sales",
            StrokeColor = "rgba(64,64,255,0.8)",
            FillColor = "rgba(64,64,255,0.2)"
        },
    });
    chart.ChartConfiguration.ScaleLineWidth = 2;
    chart.ChartConfiguration.Responsive = true;
}
<script src="~/Scripts/Chart.js"></script>
<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Report.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report.End)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-sm-6 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Sold</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var s in Model.Data)
            {
                <tr>
                    <td>@Html.Raw(s.Key.ToString("dddd"))</td>
                    <td>@Html.Raw(s.Key.ToString("dd/MM/yyyy"))</td>
                    <td>@Html.DisplayFor(x => x.Data[s.Key].Sale)</td>
                    <td>@Html.DisplayFor(x => x.Data[s.Key].Stock)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        @*DISPLAY CHART*@

        <canvas id="Chart" style="width: 100%"></canvas>
        @Html.CreateChart("Chart", chart)
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Report.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
